<div class="container" style="text-align:center">
  <div class="row" style="text-align:center">
    <div class="col-md-12" style="font-size:22px">Spiritual images </div>
    <br><br><br><br>
  </div>
  <div class="row mx-5" style="text-align:center" *ngIf="spiritualImages.length>0">
    <!--iterative div starts from here creates multiple panels or card depending on the objects declared in the array allBlogs-->
    <div *ngFor="let images of spiritualImages" class="col-12 col-md-4" style="align-items: center">

      <!--using bootstrap card for image arrangement in the form of thumbnails
    <div class="card-group mx-5">
    <div class="card">
  
    <a href="" data-toggle="modal" data-target="#exampleModalCenter"><img src='{{images.url}}' class="card-img-top img-fluid" alt="spiritual images" ></a>
    </div>-->

      <!--creating thumbnails using just the img-thumnail class-->
      <a href="#" data-toggle="modal" data-target="#exampleModalCenter"><img src='{{images.url}}'
          class="img-thumbnail"></a>



      <br />
    </div>

  </div>
  <!--end of iterative div-->
  <!--Modal-->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" *ngFor="let images of spiritualImages">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{images.url}}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Save/Download</button>
        </div>
      </div>
    </div>
  </div>


</div>