<div class="container" style="text-align:center">
  <div class="row" style="text-align:center">
    <div class="col-md-12" style="font-size:22px"><i>Categories of Wallpapers</i> </div>
    <br><br><br><br>
  </div>

<div class="col-md auto">
  <div class="card-deck">
    <div class="card">
      <a [routerLink]="['/spiritual']"><img src="assets/img/spiritual.jpg" class="card-img-top" alt="spiritual"></a>
      <div class="card-body">
        <h5 class="card-title">Spiritual Wallpapers</h5>
        <p class="card-text">Explore plethora of Wallpapers/images and get a sense of spirituality.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/abstract.jpg" class="card-img-top" alt="abstract">
      <div class="card-body">
        <h5 class="card-title">Abstract Wallpapers</h5>
        <p class="card-text">Redifne your abstract thoughts in the form of beautiful and meaningful images.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/nature (1).jpg" class="card-img-top" alt="nature">
      <div class="card-body">
        <h5 class="card-title">Nature Wallpapers</h5>
        <p class="card-text">Dive into the mesmerizing world of mother nature.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  </div>
</div>