<div class="container" style="text-align:center">

  <div class="row" style="text-align:center">
    <div class="col-md-12 pt-3" style="font-size:22px;font-weight: bolder;font-family:'Righteous', cursive;">Categories
      of Wallpapers</div>
    <br><br><br><br>
  </div>

  <div class="col-md auto">
    <div class="card-deck">
      <div class="card">
        <a [routerLink]="['/spiritual']"><img src="assets/img/spiritual.jpg" class="card-img-top" alt="spiritual"></a>
        <div class="card-body">
          <h5 class="card-title">Spiritual Wallpapers</h5>
          <p class="card-text">Explore plethora of Wallpapers/images and get a sense of spirituality.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <a [routerLink]="['/abstract']"><img src="assets/img/abstract.jpg" class="card-img-top" alt="abstract"></a>
        <div class="card-body">
          <h5 class="card-title">Abstract Wallpapers</h5>
          <p class="card-text">Redifne your abstract thoughts in the form of beautiful and meaningful images.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <a [routerLink]="['/nature']"><img src="assets/img/nature.jpg" class="card-img-top" alt="nature"></a>
        <div class="card-body">
          <h5 class="card-title">Nature Wallpapers</h5>
          <p class="card-text">Dive into the mesmerizing world of mother nature.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>